.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input[type=submit]{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  margin: 8px 1px ;
  cursor: pointer;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  display: inline;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color:gray}

th {
  background-color: black;
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
